.hideScroll::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  border-radius: 100%;
  opacity: 0.5;
}

.hideScroll::-webkit-scrollbar-track {
  background: black;
  width: 50px;
}

.hideScroll::-webkit-scrollbar-thumb {
  background: rgb(255, 253, 253);
  border-radius: 5px;
}

.hideScroll::-webkit-scrollbar-thumb:hover {
  background: rgb(223, 223, 223);
}
