.NavMainFlex{
  position: fixed;
  width: 100%;
  z-index: 99;
}

.cardImg{
  display: inline-block;
  position: relative;
}

.cardImg .imgTop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.cardImg:hover .imgTop{
  display: inline;
  cursor: pointer;
  z-index: inherit;
}

.refClick {
  cursor: pointer;
  font-weight: 600;
  /* color: #805AD5; */
}

.DayNightButton{
  cursor: pointer;
}